<html>

<head>
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="main-content">


        {{>header}}
        <img class="potrait" src="https://homepages.cae.wisc.edu/~ece533/images/baboon.png">
    </div>
    {{>footer}}
</body>

</html>